/* IMPORT CLASSES */
/*************************************************
 MEDIA QUERY DEFINITIONS
*************************************************/
/*************************************************
 GLOBAL STYLES
*************************************************/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.spectral {
  font-family: "Spectral", serif;
}

.prompt {
  font-family: "Prompt", sans-serif;
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}

.bg-offWhite {
  background-color: #FCFCFC;
}

.offWhite {
  color: #FCFCFC;
}

.bg-red {
  background-color: #c60034;
}

.red {
  color: #c60034;
}

.bg-midGrey {
  background-color: #353535;
}

.midGrey {
  color: #353535;
}

.bg-darkGrey {
  background-color: #1e1e1e;
}

.darkGrey {
  color: #1e1e1e;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-size: 62.5%;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1em;
  background-color: #FCFCFC;
  margin: 0;
}
body.fixed {
  overflow: hidden;
}

#main {
  position: relative;
  overflow-x: hidden;
}

.bg {
  background-image: url("/img/grain.png");
  height: 100%;
  background-size: auto;
}
.bg:after {
  animation: grain 10s steps(10) infinite;
  background-image: url("/img/grain.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: -1;
}
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

h1, .h1 {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
}

h2, .h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4em;
}

h3, .h3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.4em;
}

h4, .h4 {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0;
}

h5, .h5 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.4em;
}

h6, .h6 {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0;
}

p {
  font-size: 1.9rem;
  line-height: 1.7em;
  font-weight: 400;
  line-height: 2.2em;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
}
@media (max-width: 650px) {
  p {
    font-size: 1.4rem;
  }
}

.outlined {
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lowerCase {
  text-transform: lowercase;
}

.indent {
  margin-left: 10%;
}

.smallIndent {
  margin-left: 5%;
  width: 95%;
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
}

input, textarea, select {
  -webkit-appearance: none !important;
}

input[type=checkbox] {
  -webkit-appearance: checkbox !important;
}

input[type=radio] {
  -webkit-appearance: radio !important;
}

.wrapper1700 {
  width: 98%;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper700 {
  max-width: 700px;
  padding: 60px 0 0;
}

.wrapper1600 {
  position: relative;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
.wrapper1600 .section-block .h1 {
  position: relative;
  width: 100%;
  max-width: 650px;
}
.wrapper1600 .section-block .h1 .underlined-word {
  position: relative;
  display: inline-block;
}
.wrapper1600 .section-block .h1 .underlined-word .underline {
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: -1;
  width: 100%;
  height: auto;
}
.wrapper1600 .section-block .h4 {
  width: 100%;
  max-width: 550px;
}
.wrapper1600 .section-block p {
  width: 100%;
  max-width: 665px;
  margin-bottom: 30px;
}

.wrapper950 {
  position: relative;
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.wrapper1300 {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5em;
}

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clear {
  clear: both;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.col2 {
  float: left;
  width: 50%;
}

.col3 {
  float: left;
  width: 33.3333%;
}

.col4 {
  float: left;
  width: 25%;
}

.col5 {
  float: left;
  width: 20%;
}

.btn-wrap {
  display: flex;
}
.btn-wrap .col2 {
  width: auto;
}

.btn {
  width: 100%;
  position: relative;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: transform 0.5s;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transform: rotateX(-90deg);
  cursor: pointer;
}

.btn-surprise {
  height: 100%;
  display: flex;
  position: absolute;
  top: -100%;
  transform-origin: bottom;
  transform: rotateX(90deg);
  color: #c60034;
  background-color: transparent;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.5;
  }
  99% {
    transform: scale(50);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.single-item {
  display: flex;
  padding: 1.4em 0;
}
.single-item p {
  margin-left: 30px;
  font-size: 0.6rem;
}
@media (min-width: 1700px) {
  .single-item h1, .single-item .h1 {
    font-size: 10.6rem;
  }
}

.accent-line {
  height: 5px;
  width: 100%;
}

.accent-line-thick {
  height: 55px;
  width: 100%;
  margin: 5em 0;
}

.fa, .fas {
  font-size: 4rem;
}

/* FOOTER */
.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #1e1e1e;
  text-align: center;
}
.footer .col3 {
  padding: 25px 0px 6px 0;
}
.footer .col3 .githubSVG {
  width: 90px;
  display: inline-flex;
}
.footer .col3 a.github {
  width: 100%;
}
.footer .col3 .linkedinSVG {
  width: 90px;
  display: inline-flex;
}
.footer .col3 a.linkedin {
  width: 100%;
}
.footer .col3 a {
  display: block;
  margin: 15px;
}
@media (max-width: 768px) {
  .footer .col3 {
    width: 100%;
  }
}
.footer .contact {
  display: flex;
  justify-content: center;
}
.footer .contact .contactSVG {
  width: 128px;
}
.footer .contact .contactSVG:last-child {
  margin-left: 20px;
  width: 132px;
}
@media (max-width: 768px) {
  .footer .contact {
    justify-content: center;
  }
}

/* END OF FOOTER */
/*************************************************
 CSS RESERT - ERIC MEYER'S v2.0
*************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, input:focus, :focus {
  outline: 0;
}

img {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  vertical-align: middle;
}

/* IMPORT FONTS */
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

.headlineContent {
  margin: 2em 0 14em 0;
  z-index: -2;
}
.headlineContent .headline-intro {
  font-size: 17.7vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.07em;
  line-height: 0.65em;
}
@media (min-width: 1700px) {
  .headlineContent .headline-intro {
    font-size: 16rem;
  }
}
.headlineContent .headline-intro span {
  font-size: 16.7vw;
  letter-spacing: -0.02em;
}
@media (min-width: 1700px) {
  .headlineContent .headline-intro span {
    font-size: 15.3rem;
  }
}
.headlineContent .headline-intro-2 {
  font-size: 15vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  font-weight: 800;
}
.headlineContent .headline-intro-2 .animate__animated.animate__fadeIn {
  --animate-duration: 15s;
}
@media (max-width: 768px) {
  .headlineContent .headline-intro-2 {
    display: none;
  }
}
@media (min-width: 1700px) {
  .headlineContent .headline-intro-2 {
    font-size: 14rem;
  }
}
.headlineContent .headline-intro-2 span {
  font-size: 14.4vw;
}
@media (min-width: 1700px) {
  .headlineContent .headline-intro-2 span {
    font-size: 13.4rem;
  }
}

.headline-intro-2-mobile {
  font-size: 15vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  letter-spacing: -0.7rem;
  font-weight: 700;
  display: none;
}
@media (max-width: 768px) {
  .headline-intro-2-mobile {
    display: block;
    letter-spacing: 0;
  }
  .headline-intro-2-mobile .animate__animated.animate__fadeIn {
    --animate-duration: 15s;
  }
}
@media (min-width: 1700px) {
  .headline-intro-2-mobile {
    font-size: 14rem;
  }
}
.headline-intro-2-mobile span {
  font-size: 14.4vw;
}
@media (min-width: 1700px) {
  .headline-intro-2-mobile span {
    font-size: 13.4rem;
  }
}

.sidebarContent {
  position: relative;
  display: block;
}
@media (max-width: 768px) {
  .sidebarContent {
    display: none;
  }
}
@media (max-width: 650px) {
  .sidebarContent p {
    font-size: 0.6rem;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee-r {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.marquee {
  color: #1e1e1e;
  font-size: 6rem;
  height: 3em;
  overflow: hidden;
  position: relative;
  width: 100vw;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .marquee {
    height: 2em;
  }
}
@media (max-width: 650px) {
  .marquee {
    font-size: 4rem;
  }
}
.marquee img {
  object-fit: cover;
  max-height: 150px;
}

.track {
  height: auto;
  overflow: hidden;
  padding: 2rem 0;
  position: absolute;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
  background-color: #1e1e1e;
}
@media (max-width: 650px) {
  .track {
    padding: 1rem 0;
  }
}
.track .text {
  animation: marquee 50000ms linear infinite;
  align-items: center;
  display: inline-flex;
  will-change: transform;
}
.track .text.-r {
  animation-name: marquee-r;
}
.track .text.-twox {
  animation-duration: 25000ms;
}
.track img {
  animation: rollCage 10000ms linear infinite;
}

.headlineContentParent {
  margin: 9em 0 1em 0;
}
.headlineContentParent .headline-intro {
  font-size: 15vw;
  text-align: left;
  color: #1e1e1e;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
  line-height: 0.65em;
}
@media (min-width: 1700px) {
  .headlineContentParent .headline-intro {
    font-size: 16rem;
  }
}
.headlineContentParent .headline-intro span {
  font-size: 14.3vw;
}
@media (min-width: 1700px) {
  .headlineContentParent .headline-intro span {
    font-size: 15.3rem;
  }
}

.headlineContentContact {
  margin: 2em 0 6em 0;
  z-index: -2;
}
.headlineContentContact .headline-intro {
  font-size: 17.7vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.07em;
  line-height: 0.65em;
}
@media (min-width: 1700px) {
  .headlineContentContact .headline-intro {
    font-size: 16rem;
  }
}
.headlineContentContact .headline-intro span {
  font-size: 16.7vw;
  letter-spacing: -0.02em;
}
@media (min-width: 1700px) {
  .headlineContentContact .headline-intro span {
    font-size: 15.3rem;
  }
}
.headlineContentContact .headline-intro-contact-2 {
  font-size: 15vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 800;
}
@media (min-width: 1700px) {
  .headlineContentContact .headline-intro-contact-2 {
    font-size: 14rem;
  }
}
.headlineContentContact .headline-intro-contact-2 span {
  font-size: 14.4vw;
}
@media (min-width: 1700px) {
  .headlineContentContact .headline-intro-contact-2 span {
    font-size: 13.4rem;
  }
}
