/* IMPORT CLASSES */
/*************************************************
 GLOBAL STYLES
*************************************************/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.spectral {
  font-family: "Spectral", serif; }

.prompt {
  font-family: "Prompt", sans-serif; }

.helvetica {
  font-family: "Helvetica", sans-serif; }

.bg-offWhite {
  background-color: #FCFCFC; }

.offWhite {
  color: #FCFCFC; }

.bg-red {
  background-color: #c60034; }

.red {
  color: #c60034; }

.bg-midGrey {
  background-color: #353535; }

.midGrey {
  color: #353535; }

.bg-darkGrey {
  background-color: #1e1e1e; }

.darkGrey {
  color: #1e1e1e; }

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-size: 62.5%;
  margin: 0; }

body {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1em;
  background-color: #FCFCFC;
  margin: 0; }
  body.fixed {
    overflow: hidden; }

#main {
  position: relative;
  overflow-x: hidden; }

.bg {
  background-image: url("/Users/kevin/Desktop/KevinHarrell/public/img/Background.png");
  height: 100%;
  background-size: cover; }

a {
  text-decoration: none;
  color: initial; }

h1, .h1 {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em; }

h2, .h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4em; }

h3, .h3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.4em; }

h4, .h4 {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0; }

h5, .h5 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.4em; }

h6, .h6 {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0; }

p {
  font-size: 1.5rem;
  line-height: 1.7em;
  font-weight: 400;
  line-height: 2.2em; }

.outlined {
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.indent {
  margin-left: 10%; }

.smallIndent {
  margin-left: 5%;
  width: 95%; }

strong {
  font-weight: bold; }

em, i {
  font-style: italic; }

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0; }

input, textarea, select {
  -webkit-appearance: none !important; }

input[type="checkbox"] {
  -webkit-appearance: checkbox !important; }

input[type="radio"] {
  -webkit-appearance: radio !important; }

.wrapper1700 {
  width: 98%;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden; }

.wrapper700 {
  max-width: 700px;
  padding: 60px 0 0; }

.wrapper1600 {
  position: relative;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto; }
  .wrapper1600 .section-block .h1 {
    position: relative;
    width: 100%;
    max-width: 650px; }
    .wrapper1600 .section-block .h1 .underlined-word {
      position: relative;
      display: inline-block; }
      .wrapper1600 .section-block .h1 .underlined-word .underline {
        position: absolute;
        left: 0;
        bottom: -10px;
        z-index: -1;
        width: 100%;
        height: auto; }
  .wrapper1600 .section-block .h4 {
    width: 100%;
    max-width: 550px; }
  .wrapper1600 .section-block p {
    width: 100%;
    max-width: 665px;
    margin-bottom: 30px; }

.wrapper950 {
  position: relative;
  width: 90%;
  max-width: 950px;
  margin: 0 auto; }

.wrapper1300 {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5em; }

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.clear {
  clear: both; }

.no-margin {
  margin: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.col2 {
  float: left;
  width: 50%; }

.col3 {
  float: left;
  width: 33.3333%; }

.col4 {
  float: left;
  width: 25%; }

.col5 {
  float: left;
  width: 20%; }

.btn-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.btn {
  width: 100%;
  position: relative;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase; }

.btn:hover {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  cursor: pointer; }

.btn-surprise {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: -100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  color: white;
  background-color: black; }

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  50% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0.5; }
  99% {
    -webkit-transform: scale(50);
    transform: scale(50);
    opacity: 0; }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; } }

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  50% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0.5; }
  99% {
    -webkit-transform: scale(50);
    transform: scale(50);
    opacity: 0; }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; } }

@media screen and (min-width: 1700px) {
  .single-item h1, .single-item .h1 {
    font-size: 10.6rem; } }

.single-item .contactSVG {
  width: 18rem;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin: 3em 0; }

.single-item .contactSVG2 {
  width: 18.5rem;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin: 3em 3em; }

.accent-line {
  height: 5px;
  width: 100%;
  margin: 3em 0; }

.accent-line-thick {
  height: 80px;
  width: 100%;
  margin: 3em 0; }

.fa, .fas {
  font-size: 4rem; }

/* FOOTER */
.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #1e1e1e; }

/* END OF FOOTER */
/*************************************************
 CSS RESERT - ERIC MEYER'S v2.0
*************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, input:focus, :focus {
  outline: 0; }

img {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  vertical-align: middle; }

/* IMPORT FONTS */
/*************************************************
 MEDIA QUERY DEFINITIONS
*************************************************/
.headlineContent {
  margin: 2em 0 14em 0; }
  .headlineContent .headline-intro {
    font-size: 15vw;
    text-align: right;
    color: #1e1e1e;
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: 700;
    line-height: .65em; }
    @media screen and (min-width: 1700px) {
      .headlineContent .headline-intro {
        font-size: 16rem; } }
    .headlineContent .headline-intro span {
      font-size: 14.3vw; }
      @media screen and (min-width: 1700px) {
        .headlineContent .headline-intro span {
          font-size: 15.3rem; } }
  .headlineContent .headline-intro-2 {
    font-size: 13vw;
    text-align: right;
    color: #1e1e1e;
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: 700; }
    @media screen and (min-width: 1700px) {
      .headlineContent .headline-intro-2 {
        font-size: 14rem; } }
    .headlineContent .headline-intro-2 span {
      font-size: 12.4vw; }
      @media screen and (min-width: 1700px) {
        .headlineContent .headline-intro-2 span {
          font-size: 13.4rem; } }

.sidebarContent {
  position: absolute;
  top: 13vw;
  left: 5vw; }

:root {
  --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.20rem);
  --step-0: clamp(4.50rem, 3.64rem + 4.29vw, 14.00rem); }

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes marquee-r {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes marquee-r {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.marquee {
  color: #1e1e1e;
  font-size: var(--step-0);
  height: calc(170px + 4rem);
  overflow: hidden;
  position: relative;
  width: 100vw;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.5em; }
  .marquee img {
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 150px; }

.track {
  height: auto;
  overflow: hidden;
  padding: 2rem 0;
  position: absolute;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap; }
  .track .text {
    -webkit-animation: marquee 50000ms linear infinite;
    animation: marquee 50000ms linear infinite;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex;
    will-change: transform; }
    .track .text.-r {
      -webkit-animation-name: marquee-r;
      animation-name: marquee-r; }
    .track .text.-twox {
      -webkit-animation-duration: 25000ms;
      animation-duration: 25000ms; }
  .track:hover {
    background-color: #1e1e1e;
    color: #FCFCFC; }
    .track:hover img {
      -webkit-animation: rollCage 10000ms linear infinite;
      animation: rollCage 10000ms linear infinite; }

.headlineContentParent {
  margin: 15em 0 1em 0; }
  .headlineContentParent .headline-intro {
    font-size: 15vw;
    text-align: left;
    color: #1e1e1e;
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: 700;
    line-height: .65em; }
    @media screen and (min-width: 1700px) {
      .headlineContentParent .headline-intro {
        font-size: 16rem; } }
    .headlineContentParent .headline-intro span {
      font-size: 14.3vw; }
      @media screen and (min-width: 1700px) {
        .headlineContentParent .headline-intro span {
          font-size: 15.3rem; } }
