/* IMPORT CLASSES */
/*************************************************
 MEDIA QUERY DEFINITIONS
*************************************************/
/*************************************************
 GLOBAL STYLES
*************************************************/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.spectral {
  font-family: "Spectral", serif;
}

.prompt {
  font-family: "Prompt", sans-serif;
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}

.bold {
  font-weight: 800;
}

.bg-offWhite {
  background-color: #FCFCFC;
}

.offWhite {
  color: #FCFCFC;
}

.bg-red {
  background-color: #c60034;
}

.red {
  color: #c60034;
}

.bg-lightGrey {
  background-color: #848181;
}

.lightGrey {
  color: #848181;
}

.bg-midGrey {
  background-color: #353535;
}

.midGrey {
  color: #353535;
}

.bg-darkGrey {
  background-color: #1e1e1e;
}

.darkGrey {
  color: #1e1e1e;
}

.fade-down {
  position: relative;
  opacity: 0;
  top: -5em;
  -webkit-transition: all 1200ms linear;
  transition: all 1200ms linear;
}

.fade-down.show {
  top: 0;
  opacity: 1;
}

.fade-up {
  position: relative;
  opacity: 0;
  bottom: -5em;
  -webkit-transition: all 1200ms linear;
  transition: all 1200ms linear;
}

.fade-up.show {
  bottom: 0;
  opacity: 1;
}

.fade-left {
  position: relative;
  right: -5em;
  opacity: 0;
  -webkit-transition: all 1200ms linear;
  transition: all 1200ms linear;
}

.fade-left.show {
  right: 0;
  opacity: 1;
}

.fade-right {
  position: relative;
  left: -5em;
  opacity: 0;
  -webkit-transition: all 1200ms linear;
  transition: all 1200ms linear;
}

.fade-right.show {
  left: 0;
  opacity: 1;
}

::-moz-selection {
  background: #c60034;
  color: #FFFFFF;
}

::selection {
  background: #c60034;
  color: #FFFFFF;
}

::-moz-selection {
  background: #c60034;
  color: #FFFFFF;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-size: 62.5%;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1em;
  background-color: #FCFCFC;
  margin: 0;
}

body.fixed {
  overflow: hidden;
}

img {
  width: 100%;
}

#main {
  position: relative;
  overflow-x: hidden;
}

.bg {
  background-image: url("/img/grain.png");
  height: 100%;
  background-size: auto;
}

.bg:after {
  -webkit-animation: grain 10s steps(10) infinite;
          animation: grain 10s steps(10) infinite;
  background-image: url("/img/grain.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: -1;
}

@-webkit-keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

h1, .h1 {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
}

h2, .h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4em;
}

h3, .h3 {
  font-weight: 700;
  font-size: 4vw;
  line-height: 1.4em;
}

@media (max-width: 768px) {
  h3, .h3 {
    font-size: 6vw;
  }
}

@media (max-width: 650px) {
  h3, .h3 {
    font-size: 9vw;
  }
}

h4, .h4 {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0;
}

h5, .h5 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.4em;
}

h6, .h6 {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0;
}

p {
  font-size: 1.9rem;
  line-height: 1.7em;
  font-weight: 400;
  line-height: 2.2em;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
}

@media (max-width: 650px) {
  p {
    font-size: 1.4rem;
  }
}

.has-dropcap:first-letter {
  font-family: "Spectral", serif;
  float: left;
  font-size: 8vw;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
  font-weight: 800;
  color: #c60034;
}

.dropcap {
  float: left;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}

.dropcap:before {
  margin-top: -0.2em;
}

.dropcap:after {
  margin-bottom: -0.15em;
}

.outlined {
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lowerCase {
  text-transform: lowercase;
}

.indent {
  margin-left: 10%;
}

.smallIndent {
  margin-left: 5%;
  width: 95%;
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
}

input, textarea, select {
  -webkit-appearance: none !important;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox !important;
}

input[type="radio"] {
  -webkit-appearance: radio !important;
}

.wrapper1700 {
  width: 98%;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper700 {
  max-width: 700px;
  padding: 60px 0 0;
}

.wrapper1600 {
  position: relative;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper1600 .section-block .h1 {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.wrapper1600 .section-block .h1 .underlined-word {
  position: relative;
  display: inline-block;
}

.wrapper1600 .section-block .h1 .underlined-word .underline {
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: -1;
  width: 100%;
  height: auto;
}

.wrapper1600 .section-block .h4 {
  width: 100%;
  max-width: 550px;
}

.wrapper1600 .section-block p {
  width: 100%;
  max-width: 665px;
  margin-bottom: 30px;
}

.wrapper950 {
  position: relative;
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.wrapper1300 {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5em;
}

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clear {
  clear: both;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.col2 {
  float: left;
  width: 50%;
}

.col3 {
  float: left;
  width: 33.3333%;
}

.col4 {
  float: left;
  width: 25%;
}

.col5 {
  float: left;
  width: 20%;
}

.display-none {
  display: none;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-wrap .col2 {
  width: auto;
}

.btn {
  width: 100%;
  position: relative;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .btn-hover-projects {
    display: none;
  }
}

.btn-hover-projects-2:hover {
  color: #c60034;
}

@media (max-width: 768px) {
  .btn-hover-projects-2 {
    display: none;
  }
}

.btn:hover {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  cursor: pointer;
}

.deactivated {
  -webkit-transform: none;
          transform: none;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-surprise {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -100%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  color: #c60034;
  background-color: transparent;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0.5;
  }
  99% {
    -webkit-transform: scale(50);
            transform: scale(50);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0.5;
  }
  99% {
    -webkit-transform: scale(50);
            transform: scale(50);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

.single-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4em 0;
}

.single-item p {
  margin-left: 30px;
  font-size: .6rem;
}

@media (min-width: 1700px) {
  .single-item h1, .single-item .h1 {
    font-size: 10.6rem;
  }
}

.accent-line {
  height: 5px;
  width: 100%;
}

.accent-line-thick {
  height: 55px;
  width: 100%;
  margin: 2em 0;
}

.fa, .fas {
  font-size: 4rem;
}

/* NAVIGATION */
#navigation .navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navigation .navigation .fa, #navigation .navigation .fas {
  font-size: 2.5rem;
}

#navigation .navigation .homeButton {
  margin-right: auto;
}

/* HERO */
.hero {
  background-size: cover;
  background-position: center;
  height: 500px;
  opacity: .9;
}

.hero .visitSite {
  position: relative;
  background-color: #1e1e1e;
  text-align: center;
  width: 100px;
}

.hero .visitSite p {
  padding: 15px;
  color: #FCFCFC;
  font-weight: 700;
}

.hero .visitSite p:hover {
  color: #c60034;
}

.headline-intro-projects {
  font-size: 15vw;
  text-align: left;
  color: #c60034;
  text-transform: uppercase;
  letter-spacing: .7rem;
  font-weight: 700;
  line-height: .65em;
}

@media (min-width: 1700px) {
  .headline-intro-projects {
    font-size: 16rem;
  }
}

.headline-intro-projects span {
  font-size: 14.3vw;
}

@media (min-width: 1700px) {
  .headline-intro-projects span {
    font-size: 15.3rem;
  }
}

/* QUICK LINKS */
#quickSelectionLinks .itemList {
  padding: 6em 0 0;
}

@media (max-width: 768px) {
  #quickSelectionLinks .itemList {
    padding: 3em 0 0;
  }
}

/* FOOTER */
.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #1e1e1e;
  text-align: center;
}

.footer .col3 {
  padding: 25px 0px 6px 0;
}

.footer .col3 .githubSVG {
  width: 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .col3 a.github {
  width: 100%;
}

.footer .col3 .linkedinSVG {
  width: 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .col3 a.linkedin {
  width: 100%;
}

.footer .col3 a {
  display: block;
  margin: 15px;
}

@media (max-width: 768px) {
  .footer .col3 {
    width: 100%;
  }
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .contact .contactSVG {
  width: 128px;
}

.footer .contact .contactSVG:last-child {
  margin-left: 20px;
  width: 132px;
}

@media (max-width: 768px) {
  .footer .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* END OF FOOTER */
/*************************************************
 CSS RESERT - ERIC MEYER'S v2.0
*************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, input:focus, :focus {
  outline: 0;
}

img {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  vertical-align: middle;
}

/* IMPORT FONTS */
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

.headlineContent {
  margin: 2em 0 14em 0;
  z-index: -2;
}

.headlineContent .headline-intro {
  font-size: 17.7vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -.07em;
  line-height: .65em;
}

@media (min-width: 1700px) {
  .headlineContent .headline-intro {
    font-size: 16rem;
  }
}

.headlineContent .headline-intro span {
  font-size: 16.7vw;
  letter-spacing: -.02em;
}

@media (min-width: 1700px) {
  .headlineContent .headline-intro span {
    font-size: 15.3rem;
  }
}

.headlineContent .headline-intro-2 {
  font-size: 15vw;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .07rem;
  font-weight: 800;
}

.headlineContent .headline-intro-2 .animate__animated.animate__fadeIn {
  --animate-duration: 15s;
}

@media (max-width: 768px) {
  .headlineContent .headline-intro-2 {
    display: none;
  }
}

@media (min-width: 1700px) {
  .headlineContent .headline-intro-2 {
    font-size: 14rem;
  }
}

.headlineContent .headline-intro-2 span {
  font-size: 14.4vw;
}

@media (min-width: 1700px) {
  .headlineContent .headline-intro-2 span {
    font-size: 13.4rem;
  }
}

.headline-intro-2-mobile {
  font-size: 15vw;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -.7rem;
  font-weight: 700;
  display: none;
}

@media (max-width: 768px) {
  .headline-intro-2-mobile {
    display: block;
    letter-spacing: 0;
  }
  .headline-intro-2-mobile .animate__animated.animate__fadeIn {
    --animate-duration: 15s;
  }
}

@media (min-width: 1700px) {
  .headline-intro-2-mobile {
    font-size: 14rem;
  }
}

.headline-intro-2-mobile span {
  font-size: 14.4vw;
}

@media (min-width: 1700px) {
  .headline-intro-2-mobile span {
    font-size: 13.4rem;
  }
}

.sidebarContent {
  position: relative;
  display: block;
}

@media (max-width: 768px) {
  .sidebarContent {
    display: none;
  }
}

@media (max-width: 650px) {
  .sidebarContent p {
    font-size: .6rem;
  }
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee-r {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes marquee-r {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.marquee {
  color: #1e1e1e;
  font-size: 6rem;
  height: 1.65em;
  overflow: hidden;
  position: relative;
  width: 100vw;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .marquee {
    height: 2em;
  }
}

@media (max-width: 650px) {
  .marquee {
    font-size: 4rem;
  }
}

.marquee img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
}

.track {
  height: auto;
  overflow: hidden;
  padding: 2rem 0;
  position: absolute;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
  background-color: #1e1e1e;
}

@media (max-width: 650px) {
  .track {
    padding: 1rem 0;
  }
}

.track .text {
  -webkit-animation: marquee 50000ms linear infinite;
          animation: marquee 50000ms linear infinite;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  will-change: transform;
}

.track .text.-r {
  -webkit-animation-name: marquee-r;
          animation-name: marquee-r;
}

.track .text.-twox {
  -webkit-animation-duration: 25000ms;
          animation-duration: 25000ms;
}

.track img {
  -webkit-animation: rollCage 10000ms linear infinite;
          animation: rollCage 10000ms linear infinite;
}

.contactContent {
  width: 100%;
  margin: 0 auto 5em;
  height: auto;
  overflow: hidden;
}

.contactContent #contactLinks {
  text-align: center;
}

.contactContent .githubSVG {
  width: 180px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contactContent a.github {
  width: 100%;
}

.contactContent .linkedinSVG {
  width: 180px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contactContent a.linkedin {
  width: 100%;
}

.contactContent a {
  display: block;
  margin: 15px;
}

@media (max-width: 768px) {
  .contactContent {
    width: 100%;
  }
}

.contactContent .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactContent .contact .contactSVG {
  width: 300px;
}

.contactContent .contact .contactSVG:last-child {
  margin-left: 20px;
  width: 307px;
}

@media (max-width: 768px) {
  .contactContent .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.headlineContentParent {
  margin: 9em 0 1em 0;
}

.headlineContentParent .headline-intro {
  font-size: 15vw;
  text-align: left;
  color: #1e1e1e;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
  line-height: 0.65em;
}

@media (min-width: 1700px) {
  .headlineContentParent .headline-intro {
    font-size: 16rem;
  }
}

.headlineContentParent .headline-intro span {
  font-size: 14.3vw;
}

@media (min-width: 1700px) {
  .headlineContentParent .headline-intro span {
    font-size: 15.3rem;
  }
}

#control {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#control .itemHeadline {
  z-index: 2;
}

.target {
  position: absolute;
  visibility: hidden;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.target img {
  width: 100%;
  max-width: 800px;
}

#control:hover ~ .target {
  visibility: visible;
  -webkit-animation: fadeInAnimation ease 0.5s;
          animation: fadeInAnimation ease 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

#colors .standardsContentContainer {
  width: 100%;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  #colors .standardsContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 2%;
  }
}

#colors .standardsContentContainer .standardsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 39%;
}

@media (max-width: 768px) {
  #colors .standardsContentContainer .standardsContent {
    width: 90%;
  }
}

#colors .standardsContentContainer .standardsContent .h1 {
  line-height: .73em;
}

@media (min-width: 1700px) {
  #colors .standardsContentContainer .standardsContent .h1 {
    font-size: 10.8rem;
  }
}

@media (max-width: 501px) {
  #colors .standardsContentContainer .standardsContent .h1 {
    line-height: 9.5vw;
    font-size: 13vw;
  }
}

#colors .standardsContentContainer .standardsContent .h1 span {
  mix-blend-mode: color-dodge;
}

#colors .standardsContentContainer .standardsContent p {
  line-height: 1.7em;
  border-top: 2px solid;
  padding-top: 1rem;
}

#colors .standardsContentContainer .imageCol {
  width: 60%;
  position: relative;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  #colors .standardsContentContainer .imageCol {
    width: 100%;
  }
}

#col3Section {
  position: relative;
}

#col3Section .col3SectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 6em 0;
}

@media (max-width: 768px) {
  #col3Section .col3SectionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4em;
    padding: 3em 0;
  }
}

#col3Section .col3SectionContainer .singleSection {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  #col3Section .col3SectionContainer .singleSection {
    width: 100%;
  }
}

#col3Section .col3SectionContainer .singleSection .h3 {
  line-height: .78em;
}

#col3Section .col3SectionContainer .singleSection p {
  line-height: 1.7em;
  font-weight: 200;
}

.headlineContentAbout {
  margin: 6em 0 6em 0;
  z-index: -2;
}

.headlineContentAbout .headline-intro {
  font-size: 15vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -.07em;
  line-height: .65em;
}

@media (min-width: 1700px) {
  .headlineContentAbout .headline-intro {
    font-size: 16rem;
  }
}

.headlineContentAbout .headline-intro span {
  font-size: 14.2vw;
  letter-spacing: -.02em;
}

@media (min-width: 1700px) {
  .headlineContentAbout .headline-intro span {
    font-size: 15rem;
  }
}

.headlineContentAbout .headline-intro-3 {
  font-size: 14vw;
}

@media (min-width: 1700px) {
  .headlineContentAbout .headline-intro-3 {
    font-size: 14.8rem;
  }
}

.htmlBackground {
  mix-blend-mode: exclusion;
  position: absolute;
  height: auto;
  width: 46%;
  top: 220px;
  left: 20%;
  opacity: .2;
}

@media (min-width: 1700px) {
  .htmlBackground {
    max-width: 49em;
  }
}

@media (max-width: 768px) {
  .htmlBackground {
    display: none;
  }
}

.about .aboutContent {
  width: 40%;
  float: right;
  margin-bottom: 5em;
  font-weight: 200;
}

@media (max-width: 768px) {
  .about .aboutContent {
    float: none;
    width: 90%;
    margin: 0 auto 3em;
  }
}

.headlineContentContact {
  margin: 6em 0 6em 0;
  z-index: -2;
}

.headlineContentContact .headline-intro {
  font-size: 17.7vw;
  text-align: right;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -.07em;
  line-height: .65em;
}

@media (min-width: 1700px) {
  .headlineContentContact .headline-intro {
    font-size: 16rem;
  }
}

.headlineContentContact .headline-intro span {
  font-size: 16.7vw;
  letter-spacing: -.02em;
}

@media (min-width: 1700px) {
  .headlineContentContact .headline-intro span {
    font-size: 15.3rem;
  }
}

.headlineContentContact .headline-intro-contact-2 {
  font-size: 15vw;
  text-align: right;
  text-transform: uppercase;
  font-weight: 800;
}

@media (min-width: 1700px) {
  .headlineContentContact .headline-intro-contact-2 {
    font-size: 14rem;
  }
}

.headlineContentContact .headline-intro-contact-2 span {
  font-size: 14.4vw;
}

@media (min-width: 1700px) {
  .headlineContentContact .headline-intro-contact-2 span {
    font-size: 13.4rem;
  }
}
/*# sourceMappingURL=style.css.map */