.htmlBackground {
    mix-blend-mode: exclusion;
    position: absolute;
    height: auto;
    width: 40%;
    top: 70%;
    left: 20%;
}

.about {

    .aboutContent {
        width: 40%;
        float: right;
    }
}