.headlineContentAbout {
    margin: 6em 0 6em 0;
    z-index: -2;

    .headline-intro {
        font-size: 15vw;
        text-align: right;
        color: #1e1e1e;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -.07em;
        line-height: .65em;

        @include laptop-min-1700 {    
               font-size: 16rem;
        }

        span {
            font-size: 14.2vw;
            letter-spacing: -.02em;

            @include laptop-min-1700 {    
                font-size: 15rem;
            }
        }
    }

    .headline-intro-3 {
        font-size: 14vw;

        @include laptop-min-1700 {    
            font-size: 14.8rem;
     }
    }
}

.htmlBackground {
    mix-blend-mode: exclusion;
    position: absolute;
    height: auto;
    width: 46%;
    top: 220px;
    left: 20%;
    opacity: .2;

    @include laptop-min-1700 {    
        max-width: 49em;
    }

    @include tablet {
        display: none;
    }
}

.about {

    .aboutContent {
        width: 40%;
        float: right;
        margin-bottom: 5em;
        font-weight: 200;

        @include tablet {
            float: none;
            width: 90%;
            margin: 0 auto 3em;
        }
    }
}