.headlineContentParent {
    margin: 9em 0 1em 0;

    .headline-intro {
        font-size: 15vw;
        text-align: left;
        color: $darkGrey;
        text-transform: uppercase;
        letter-spacing: 0.7rem;
        font-weight: 700;
        line-height: 0.65em;

        @include laptop-min-1700 {
            font-size: 16rem;
        }

        span {
            font-size: 14.3vw;

            @include laptop-min-1700 {
                font-size: 15.3rem;
            }
        }
    }
}

#control {
    transition: 0.3s;

    .itemHeadline {
        z-index: 2;
    }
}

.target {
    position: absolute;
    visibility: hidden;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;

    img {
        width: 100%;
        max-width: 800px;
    }
}

#control:hover ~ .target {
    visibility: visible;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        left: 0%;
    }
    100% {
        opacity: 1;
        left: 50%;
        transform: translateY(-50%);
    }
}

// SINGLE PROJECTS

#colors {
    .standardsContentContainer {
        width: 100%;
        font-weight: 200;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
      
        @include tablet {
          flex-direction: column;
          align-items: flex-start;
          row-gap: 2%;
        }
      
        .standardsContent {
          display: flex;
          flex-direction: column;
          width: 39%;
      
          @include tablet {
            width: 90%;
          }
      
          .h1 {
            line-height: 7.2vw;
      
            @include laptop-min-1700 {    
              font-size: 10.8rem;
            }
      
            @include small-mobile {
              line-height: 9.5vw;
              font-size: 13vw;
            }
      
            span {
              mix-blend-mode: color-dodge;
            }
          }
      
          p {
            line-height: 1.5rem;
            border-top: 2px solid;
            padding-top: 1rem;
          }
        }
      
        .imageCol {
          width: 60%;
          position: relative;
          right: 0;
          z-index: -1;
      
          @include tablet {
            width: 100%;
          }
        }
      }
}

#col3Section {
    position: relative;

    .col3SectionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 6em 0;

        @include tablet {
            flex-direction: column;
            row-gap: 4em;
            padding: 3em 0;
        }

        .singleSection {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            @include tablet {
                width: 100%;
            }
        }
    }
}