<ion-content fullscreen class="background" style="background-color: black;" scroll-y="false">
  <ion-slides style="background-color: black">
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-col">
          <form [formGroup]="loginForm">
            <ion-label class="login-caption">Login</ion-label>
            <ion-item color="item.item-trns">
              <ion-label position="floating" class="email-caption"> Email:<ion-text color="danger"> *</ion-text>
              </ion-label>
              <ion-input style="color:white;" formControlName="email" clear-input="true" type="email"></ion-input>
            </ion-item>

            <ion-item color="item.item-trns">
              <ion-label position="floating" class="password-caption"> Password:<ion-text color="danger"> *
                </ion-text>
              </ion-label>
              <ion-input style="color:white;" formControlName="password" clear-input="true" type="password">
              </ion-input>
            </ion-item>

            <ion-button (click)="sigin()" [disabled]="!loginForm.valid" shape="round" color="primary">  
              <ion-icon slot="end" name="log-in"></ion-icon>Sign In
            </ion-button>
            <ion-button routerLink="/register" color="primary" fill="clear"> Register </ion-button>
          </form>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="footer">
  <div class="col-md-8">
    <p style="color: #d9d9d9;">&copy; Copyright 2020, Impaird, LLC | Developed by <a href="https://www.impairdmedia.com"
        style="color: white; text-decoration: none;">Impaird Media</a>
    </p>
  </div>
</ion-footer>