<ion-content fullscreen scroll-y="false">
  <ion-grid>

  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <div>
    <a href="../home/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Home</a>
    <a href="../resume/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Resume</a>
    <a href="../about/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">About</a>
    <a href="../contact/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Contact</a>
    </div>
    <p style="color: #000000; text-align: center;">&copy; Copyright {{ anio }}, KevinHarrell | Developed by <a
        href="https://www.kevinharrell.com" style="color: rgb(0, 0, 0); text-decoration: none;"><strong>Kevin
          Harrell</strong></a><a href="https://docs.google.com/uc?export=download&id=1GPaXPkOtUIikmUYmaGTAWyc2-CEoVEbx"
        target="_blank" style="text-decoration: none; color: rgb(0, 0, 0);"> | <strong>Download Resume</strong></a>
    </p>
</ion-footer>