<ion-content fullscreen scroll-y="false">
  <ion-grid class="grid-center-text">
    <ion-row>
      <ion-col>
        <h2 class="title">Contact</h2>
      </ion-col>
    </ion-row>
    <ion-row class="contact-row-padding" style="width: 30vw; display: block; margin-left: auto; margin-right: auto; height: 7vh;">
      <ion-col>
        <p class="body-title"><strong class="strong-color">K</strong>evin <strong class="strong-color">H</strong>arrell
        </p>


        <!--
        <p class="body-main">KevinHarrell.com</p>
        <p class="body-main">Me@KevinHarrell.com</p>
        <p class="body-main">LinkedIn</p>
        <p class="body-main">Git</p>
        -->

        <img src="../../assets/img/email.png" href="mailto:me@kevinharrell.com">

        <img src="../../assets/img/linkedin.png" href="">

        <img src="../../assets/img/github.png" href="">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <div>
    <a href="../home/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Home</a>
    <a href="../resume/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Resume</a>
    <a href="../about/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">About</a>
    <a href="../contact/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Contact</a>
  </div>
  <p style="color: #000000; text-align: center;">&copy; Copyright {{ anio }}, KevinHarrell | Developed by <a
      href="https://www.kevinharrell.com" style="color: rgb(0, 0, 0); text-decoration: none;"><strong>Kevin
        Harrell</strong></a><a href="https://docs.google.com/uc?export=download&id=1GPaXPkOtUIikmUYmaGTAWyc2-CEoVEbx"
      target="_blank" style="text-decoration: none; color: rgb(0, 0, 0);"> | <strong>Download Resume</strong></a>
  </p>
</ion-footer>