.footer {
  text-align: center;
  --ion-font-family: 'Schnyder';
  color: #393939;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: initial;
  font-weight: initial;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  font-variant-caps: all-petite-caps;
  text-align: center;
  background-color: #feffe6;
  justify-content: center;
  display: grid;
}

.title {
  color: black;
  border-bottom: 3px double rgba(0,0,0,0.5);
  font-size: 4vw;
}

.strong-color {
  color: red;
}

.contact-row-padding {
  padding: 3vh;
}

.body-title {
  font-size: 3vw;
  padding: 0 !important;
  margin: 0;
}

.grid-center-text {
  text-align: center;
}

.col-center-text {
  text-align: center;
}

.body-main {
  font-size: 2vw;
  padding: 0 !important;
  margin: 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

@media only screen and (max-width: 600px) {
  .body-main {
    font-size: 6vw;
    padding: 0 !important;
    margin: 0;
  }

  .title {
    color: black;
    border-bottom: 3px double rgba(0,0,0,0.5);
    font-size: 6vw;
  }

  .body-title {
    font-size: 6vw;
    padding: 0 !important;
    margin: 0;
  }
}


@media only screen and (min-width: 900px) {
}
