#downloadButton {

    .downloadButtonContainer {
        transform: translateY(50vh);
        position: fixed;
        z-index: 1;
        right: -73px;

        .downloadButtonContent {
            transform: rotate(90deg);

            a {
                color: $white;
                margin: 0;
                text-transform: uppercase;
                padding: 1em;
                background-color: $darkGrey;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}

#resumeMainHeadline {

    .resumeHeadlineContainer {

        .h1 {
            font-size: 12.9vw;
            color: $white;
            background-color: $darkGrey;

            span {
                font-size: 12.2vw;
                color: $red;
                font-weight: 900;
            }
        }
    }

    .resumeSecondaryContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        margin: 0 auto;

        .quickTags {

            p {
                font-family: $prompt;
            }
        }

        .h2 {
            font-size: 6vw;
            font-weight: 900;
            line-height: 1em;

            span {
                font-size: 6.4vw;
            }
        }
    }
}

#mainResume {
    position: relative;
    overflow: hidden;

    .resumeOutsideContainer {
        display: flex;
        flex-direction: row;
        width: 98%;
        margin: 0 auto;
        justify-content: space-between;
        padding: 4em 0;

        @include mobile {
            flex-direction: column;
        }

        .resumeLeftInnerContainer {
            display: flex;
            flex-direction: column;
            width: 25%;
            row-gap: 5em;

            @include mobile {
                width: 98%;
            }

            .singleLeftContent {
                position: relative;

                .h4 {
                    font-weight: 900;
                    line-height: .75em;
                }

                p {
                    line-height: 1.5em;
                }

                .skillsList {
                    display: flex;
                    flex-direction: column;
                    padding: 1em 0;

                    #html {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 90%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 7%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #scss {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 85%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 12%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #javascript {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 72%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 24%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #jquery {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 78%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 19%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #react {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 55%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 42%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #wordpress {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 93%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 4%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #photoshop {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 77%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 20%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    #illustrator {

                        .singleSkill {
                            position: relative;
                            padding: .5em 0;

                            .singleSkillContainer {
                                display: flex;
                                flex-direction: column;

                                .marker {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    p {
                                        position: absolute;
                                    }

                                    i.fas.fa-caret-down {
                                        font-size: 2vw;
                                        position: relative;
                                        left: 91%;
                                    }
                                }

                                .singleSkillBar {
                                    background-color: black;
                                    width: 100%;
                                    height: 20px;

                                    span {
                                        background-color: $red;
                                        width: 6%;
                                        height: 20px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .contactInfoLinksContainer {
                display: flex;
                flex-direction: column;
                padding: 1em 0;
                row-gap: 10px;

                .h3 {
                    line-height: .8em;

                    a {
                        font-size: 1.5vw;

                        &:last-child {
                            font-size: 3vw;
                        }
                    }
                }
            }
        }

        .resumeRightInnerContainer {
            display: flex;
            flex-direction: column;
            width: 65%;
            row-gap: 5em;

            .singleRightContentContainer {
                position: relative;

                &:after {
                    content: '';
                    height: 100%;
                    width: 10px;
                    position: absolute;
                    top: 15px;
                    background-color: $darkGrey;
                    z-index: -1;
                    left: 15px;
                }

                .singleRightContent {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .h4 {
                        font-weight: 900;
                        margin-left: 2%;
                        line-height: .75em;

                        &:after {
                            content: '';
                            width: 100%;
                            height: 30%;
                            background-color: $red;
                            top: 41%;
                            margin-left: 2%;
                            position: absolute;
                        }
                    }

                    .timelineIcon {
                        width: 40px;
                        height: 40px;
                        position: relative;
                    }
                }

                .singleRightInner {
                    padding: 2em 0;

                    .singleRightInnerContent {
                        position: relative;
                        left: 90px;
                        width: 70%;

                        a:hover {
                            color: $red;
                        }

                        @include mobile {
                            width: 98%;
                        }

                        .h5 {
                            margin-bottom: 1%;
                        }

                        .h4 {
                            text-transform: uppercase;
                            font-weight: 900;
                            line-height: .75em;
                        }

                        li {
                            font-family: $prompt;
                            font-weight: 400;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 60px;
                            height: 10px;
                            top: 30%;
                            background: $red;
                            left: -70px;
                            z-index: -1;
                        }
                    }
                }
            }

            .rightCol2Container {
                display: flex;
                flex-direction: row;
                position: relative;

                @include mobile {
                    flex-direction: column;
                }
                
                .singleRightContentContainer {
                    position: relative;
                    margin-bottom: 4em;
    
                    &:after {
                        content: '';
                        height: 100%;
                        width: 10px;
                        position: absolute;
                        top: 15px;
                        background-color: $darkGrey;
                        z-index: -1;
                        left: 15px;
                    }
    
                    .singleRightContent {
                        display: flex;
                        align-items: center;
                        position: relative;
    
                        .h4 {
                            font-weight: 900;
                            margin-left: 2%;
                            line-height: .75em;
    
                            &:after {
                                content: '';
                                width: 100%;
                                height: 30%;
                                background-color: $red;
                                top: 41%;
                                margin-left: 2%;
                                position: absolute;
                            }
                        }

                        .hobbiesLine {

                            &::after {
                                content: '';
                                width: 35% !important;
                                height: 30%;
                                background-color: $red;
                                top: 41%;
                                margin-left: 2%;
                                position: absolute;

                                @include mobile {
                                    width: 100% !important;
                                }
                            }
                        }
    
                        .timelineIcon {
                            width: 40px;
                            height: 40px;
                            position: relative;
                        }
                    }
    
                    .singleRightInner {
                        padding: 2em 4em 2em 4em;

                        @include mobile {
                            padding: 2em 0em 2em 4em;
                        }

                        .hobbyContentContainer {
                            max-width: 490px;

                            .hobbyIconContainer {

                                .singleHobby {
                                }
                            }

                            .hobbyBody {
                                text-align: center;
                                line-height: 1.7rem;
                            }
                        }
    
                        .singleRightInnerContent {
                            position: relative;
                            left: 90px;
                            width: 70%;
    
                            @include mobile {
                                width: 98%;
                            }
    
                            .h5 {
                                margin-bottom: 1%;
                            }
    
                            .h4 {
                                text-transform: uppercase;
                                font-weight: 900;
                                line-height: .75em;
                            }
    
                            li {
                                font-family: $prompt;
                                font-weight: 400;
                            }
    
                            &:after {
                                content: '';
                                position: absolute;
                                width: 60px;
                                height: 10px;
                                top: 30%;
                                background: $red;
                                left: -70px;
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
    }
}