#downloadButton {

    .downloadButtonContainer {
        transform: translateY(50vh);
        position: fixed;
        z-index: 1;
        right: -73px;

        .downloadButtonContent {
            transform: rotate(90deg);

            a {
                color: $white;
                margin: 0;
                text-transform: uppercase;
                padding: 1em;
                background-color: $darkGrey;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}

#resumeMainHeadline {

    .resumeHeadlineContainer {

        .h1 {
            font-size: 12.9vw;
            color: $white;
            background-color: $darkGrey;

            span {
                font-size: 12.2vw;
                color: $red;
                font-weight: 900;
            }
        }
    }

    .resumeSecondaryContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        margin: 0 auto;

        .quickTags {

            p {
                font-family: $prompt;
            }
        }

        .h2 {
            font-size: 6vw;
            font-weight: 900;
            line-height: 1em;

            span {
                font-size: 6.4vw;
            }
        }
    }
}

#mainResume {
    position: relative;
    overflow: hidden;

    .resumeOutsideContainer {
        display: flex;
        flex-direction: row;
        width: 98%;
        margin: 0 auto;
        justify-content: space-between;
        padding: 4em 0;

        .resumeLeftInnerContainer {
            display: flex;
            flex-direction: column;
            width: 25%;

            .singleLeftContent {
                
                .h4 {
                    font-weight: 900;
                }

                p {
                    line-height: 1.5em;
                }
            }
        }

        .resumeRightInnerContainer {
            display: flex;
            flex-direction: column;
            width: 65%;

            .singleRightContentContainer {

                .singleRightContent {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .h4 {
                        font-weight: 900;
                        margin-left: 2%;

                        &:after {
                            content: '';
                            width: 100%;
                            height: 30%;
                            background-color: $red;
                            top: 41%;
                            margin-left: 2%;
                            position: absolute;
                        }
                    }

                    .timelineIcon {
                        width: 40px;
                        height: 40px;
                        background-color: $darkGrey;
                        position: relative;
                    }
                }
            }
        }
    }
}