/* IMPORT CLASSES */

@import "global/media";
@import "global/global";
@import "global/reset";
@import "global/fonts";

@import "home/home";

@import "contact/contact";

@import "projects/projects";

@import "about/about";

@import "resume/resume";

@import "404/404";