/*************************************************
 GLOBAL STYLES
*************************************************/

//FONTS
$spectral: 'Spectral', serif;
$prompt: 'Prompt', sans-serif;
$helvetica: 'Helvetica', sans-serif;

.spectral {
  font-family: $spectral;
}

.prompt {
  font-family: $prompt;
}

.helvetica {
  font-family: $helvetica;
}

// COLORS
$offWhite: #FCFCFC;
$red: #c60034;
$lightGrey: #848181;
$midGrey: #353535;
$darkGrey: #1e1e1e;

.bg-offWhite {
  background-color: $offWhite;
}

.offWhite {
  color: $offWhite;
}

.bg-red {
  background-color: $red;
}

.red {
  color: $red;
}

.bg-lightGrey {
  background-color: $lightGrey;
}

.lightGrey {
  color: $lightGrey;
}

.bg-midGrey {
  background-color: $midGrey;
}

.midGrey {
  color: $midGrey;
}

.bg-darkGrey {
  background-color: $darkGrey;
}

.darkGrey {
  color: $darkGrey;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-size: 62.5%;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1em;
  background-color: $offWhite;
  margin: 0;

  &.fixed {
    overflow: hidden;
  }
}

#main {
  position: relative;
  overflow-x: hidden;
}

.bg {
  background-image: url("/img/grain.png");
  height: 100%; 
  background-size: auto;
  
  &:after {
    animation: grain 10s steps(10) infinite;
    background-image: url("/img/grain.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 1;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: -1;
  }
  
  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
}

a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

h1, .h1 {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
}

h2, .h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4em;
}

h3, .h3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.4em;
}

h4, .h4 {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0;
}

h5, .h5 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.4em;
}

h6, .h6 {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 1.25em 0;
}

p {
    font-size: 1.9rem;
    line-height: 1.7em;
    font-weight: 400;
    line-height: 2.2em;
    text-transform: uppercase;
    font-family: $prompt;

    @include mobile {
      font-size: 1.4rem;
    }
}

.has-dropcap:first-letter {
  font-family: $spectral;
  float: left;
  font-size: 8vw;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
  font-weight: 800;
  color: $red;
}

.dropcap {
  float: left;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
}

.outlined {
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lowerCase {
  text-transform: lowercase;
}

.indent {
  margin-left: 10%;
}

.smallIndent {
  margin-left: 5%;
  width: 95%;
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
}

input, textarea, select {
  -webkit-appearance: none !important;
}

input[type="checkbox"]{
  -webkit-appearance: checkbox !important;
}

input[type="radio"]{
  -webkit-appearance: radio !important;
}

.wrapper1700 {
  width: 98%;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper700 {
  max-width: 700px;
  padding: 60px 0 0;
}

.wrapper1600 {
  position: relative;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;

  .section-block {

    .h1 {
      position: relative;
      width: 100%;
      max-width: 650px;

      .underlined-word {
        position: relative;
        display: inline-block;

        .underline {
          position: absolute;
          left: 0;
          bottom: -10px;
          z-index: -1;
          width: 100%;
          height: auto;
        }
      }
    } 

    .h4 {
      width: 100%;
      max-width: 550px;
    }

    p {
      width: 100%;
      max-width: 665px;
      margin-bottom: 30px;
    }
  }
}

.wrapper950 {
  position: relative;
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.wrapper1300 {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5em;
}

.vert-center {
  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clear {
  clear: both;  
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

// COLUMNS
.col2 {
  float: left;
  width: 50%; 
}

.col3 {
  float: left;
  width: 33.3333%;  
}

.col4 {
  float: left;
  width: 25%; 
}

.col5 {
  float: left;
  width: 20%; 
}

.display-none {
  display: none;
}

// BUTTONS

.btn-wrap {
  display: flex;

  .col2 {
    width: auto;
  }
}

.btn {
  width: 100%;
  position: relative;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: transform 0.5s;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-hover-projects {
  @include tablet-min {
    display: none;
  }
}

.btn-hover-projects-2 {

  &:hover {
    color: $red;
  }

  @include tablet {
    display: none;
  }
}

.btn:hover {
  transform: rotateX(-90deg);
  cursor: pointer;
}

.deactivated {
  transform: none;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-surprise {
  height: 100%;
  display: flex;
  position: absolute;
  top: -100%;
  transform-origin: bottom;
  transform: rotateX(90deg);
  color: #c60034;
  background-color: transparent;
}

@keyframes ripple {
  0% {
      transform: scale(0);
      opacity: 1;
  }

  50% {
      transform: scale(10);
      opacity: 0.5;
  }

  99% {
      transform: scale(50);
      opacity: 0;
  }

  100% {
      transform: scale(0);
      opacity: 0;
  }
}

.single-item {
  display: flex;
  padding: 1.4em 0;

  p {
    margin-left: 30px;
    font-size: .6rem;
  }

  h1, .h1 {
      @include laptop-min-1700 {    
        font-size: 10.6rem;
    }
  }
}

.accent-line {
  height: 5px;
  width: 100%;
}

.accent-line-thick {
  height: 55px;
  width: 100%;
  margin: 2em 0;
}

.fa, .fas {
  font-size: 4rem;
}

/* NAVIGATION */
.navigation {
  display: inline-flex;
  width: 100%;

  .fa, .fas {
    font-size: 2.5rem;
  }

  .homeButton {
    margin-right: auto;
  }
}

/* HERO */

.hero {
  background-size: cover;
  background-position: center;
  height: 500px;
  opacity: .9;

  .visitSite {
    position: relative;
    background-color: #1e1e1e;
    text-align: center;
    width: 100px;
    
    p {
      padding: 15px;
      color: $offWhite;
      font-weight: 700;

      &:hover {
        color: $red;
      }
    }
  }
}

.projectContent {
  width: 70%;
  margin: 6em auto;
  font-weight: 200;
}

.headline-intro-projects {
  font-size: 15vw;
  text-align: left;
  color: $red;
  text-transform: uppercase;
  letter-spacing: .7rem;
  font-weight: 700;
  line-height: .65em;

  @include laptop-min-1700 {    
         font-size: 16rem;
  }

  span {
      font-size: 14.3vw;

      @include laptop-min-1700 {    
          font-size: 15.3rem;
      }
  }
}

/* FOOTER */

.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: $darkGrey;
  text-align: center;

  .col3 {
    padding: 25px 0px 6px 0;

    .githubSVG {
      width: 90px;
      display: inline-flex;
    }

    a.github {
      width: 100%;
    }

    .linkedinSVG {
      width: 90px;
      display: inline-flex;
    }

    a.linkedin {
      width: 100%;
    }

    a {
      display: block;
      margin: 15px;
    }

    @include tablet {
      width: 100%;
    }
  }

  .contact {
    display: flex;
    justify-content: center;
  
    .contactSVG {
      width: 128px;
      
      &:last-child {
        margin-left: 20px;
        width: 132px;
      }
    }

    @include tablet {
      justify-content: center;
    }
  }
}

/* END OF FOOTER */