<ion-content fullscreen scroll-y="false">
  <ion-grid>
    <ion-row class="slide-position-nav">
      <h3 class="slide-position-nav" (click)="slideToNext()">Bio</h3>
      <h3 class="slide-position-nav" (click)="slideToNext1()">Profile</h3>
      <h3 class="slide-position-nav" (click)="slideToNext2()">Skills</h3>
      <h3 class="slide-position-nav" (click)="slideToNext3()">Education</h3>
      <h3 class="slide-position-nav" (click)="slideToNext4()">Experience</h3>
      <h3 class="slide-position-nav" (click)="slideToNext5()">Projects</h3>
      <h3 class="slide-position-nav" (click)="slideToNext6()">References</h3>
    </ion-row>
    <ion-row>
      <ion-slides>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">BIO</h2>
              </ion-col>
            </ion-row>
            
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">Profile</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">Skills</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">Education</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">Experience</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">Projects</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 class="title">References</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <div>
    <a href="../home/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Home</a>
    <a href="../resume/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Resume</a>
    <a href="../about/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">About</a>
    <a href="../contact/" style="text-decoration: none; color: rgb(0, 0, 0); padding: 20px;">Contact</a>
  </div>
  <p style="color: #000000; text-align: center;">&copy; Copyright {{ anio }}, KevinHarrell | Developed by <a
      href="https://www.kevinharrell.com" style="color: rgb(0, 0, 0); text-decoration: none;"><strong>Kevin
        Harrell</strong></a><a href="https://docs.google.com/uc?export=download&id=1GPaXPkOtUIikmUYmaGTAWyc2-CEoVEbx"
      target="_blank" style="text-decoration: none; color: rgb(0, 0, 0);"> | <strong>Download Resume</strong></a>
  </p>
</ion-footer>