.footer {
  font-variant-caps: all-petite-caps;
  text-align: center;
  color: white;
  background-color: rgb(53, 169, 247);
}

.background {
  text-align: center; 
  background-color: rgb(53, 169, 247);
}

.button-color {
  color: white;
  background-color: white;
}

p {
  padding: 0 30px;
  font-size: 14px;
}

ion-item{
  --ion-item-background:rgb(53, 169, 247) !important;
  //border-bottom: inset;
  --border-style: none;
}

.navbar {
    font-variant-caps: all-petite-caps;
    justify-content: center;
    color: white;
    background-color: rgb(53, 169, 247);
    position: fixed;
    left: 0;
    bottom: 35px;
    right: 0;
}
