<ion-content fullscreen scroll-y="false">
  <ion-grid style="height: 100%;" class="ion-no-padding">
    <ion-row>
      <ion-col class="background">
        <img style="height: 60%;" src="../../assets/img/programming.png" />
        <ion-row class="navbar">
        <ion-item>
          <div>
            <p style="font-family: newsreader; font-size: 20px;">
              <a href="../resume/" style="text-decoration: none; color: white;">Resume</a>
            </p>
          </div>
          <div>
            <p style="font-family: newsreader; font-size: 20px;">
              <a href="../about/" style="text-decoration: none; color: white;">About</a>
            </p>
          </div>
          <div>
            <p style="font-family: newsreader; font-size: 20px;">
              <a href="../contact/" style="text-decoration: none; color: white;">Contact</a>
            </p>
          </div>
        </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <div class="col-md-8">
    <p style="color: #d9d9d9;">&copy; Copyright 2020, KevinHarrell | Developed by <a href="https://www.kevinharrell.com"
        style="color: white; text-decoration: none;">Kevin Harrell</a>
    </p>
  </div>
</ion-footer>