<ion-content fullscreen class="background" scroll-y="true">
  <ion-slides style="background-image: url(../../assets/img/gradient-background.jpg)">

    <ion-slide>
      <img alt="Kevin Harrell" src="../../assets/img/comingsoon.png" />
      <h2 class="main-caption">Kevin Harrell.</h2>
      <!--
      <h3 class="slide-position">Slide</h3>
      <ion-icon style="color: rgb(99, 185, 0)" slot="end" name="chevron-back-outline"></ion-icon>
      -->
    </ion-slide>
   
    
  </ion-slides>
  <!--
  <form [formGroup]="registerForm" style="background-color: black;">
    <ion-label class="login-caption">Register For More Information.</ion-label>
    <ion-item color="white" style="background-color: black;">
      <ion-label position="floating" class="displayname-caption">Full Name:<ion-text color="danger"> *
        </ion-text>
      </ion-label>
      <ion-input style="color:white;" formControlName="name" type="text" clear-input="true"></ion-input>
    </ion-item>
  
    <ion-item color="white" style="background-color: black;">
      <ion-label position="floating" class="email-caption">Email:<ion-text color="danger"> *</ion-text>
      </ion-label>
      <ion-input style="color:white;" formControlName="email" type="email" clear-input="true"></ion-input>
    </ion-item>

    <ion-item color="white" style="background-color: black;">
      <ion-label position="floating" class="password-caption">Password: <ion-text color="danger"> *</ion-text>
      </ion-label>
      <ion-input style="color:white;" formControlName="password" type="password"></ion-input>
    </ion-item>
  
    <ion-button (click)="createAccount()" color="primary" fill="clear" style="background-color: black;">
      Send
    </ion-button>

  </form>
  -->
</ion-content>
<ion-footer class="footer">
  <div class="col-md-8">
    <p style="color: #d9d9d9;">&copy; Copyright 2020, Kevin Harrell | Developed by <a href="https://www.impairdmedia.com" style="color: white; text-decoration: none;">Impaird Media</a>
    </p>
  </div></ion-footer>
